In [12]:
%matplotlib inline
import pandas as pd

In [13]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [14]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2   The Spider and the Fly  1949
3                  Country  2000
4         Gai shi dao wang  1969

In [15]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [16]:
# How many movies are listed in the titles dataframe?

len(titles)

236324

In [17]:
# What are the earliest two films listed in the titles dataframe?

titles.sort_values('year').head(2)

                     title  year
180742          Miss Jerry  1894
218906  The Startled Lover  1898

In [18]:
# How many movies have the title "Hamlet"?

len(titles[titles.title == 'Hamlet'])

20

In [19]:
# How many movies are titled "North by Northwest"?

len(titles[titles.title == 'North by Northwest'])

1

In [20]:
# When was the first movie titled "Hamlet" made?

titles[titles.title == 'Hamlet'].sort_values('year').head(1)

        title  year
47550  Hamlet  1910

In [21]:
# List all of the "Treasure Island" movies from earliest to most recent.

titles[titles.title == 'Treasure Island'].sort_values('year')

                  title  year
209533  Treasure Island  1918
52188   Treasure Island  1920
194281  Treasure Island  1934
98547   Treasure Island  1950
91071   Treasure Island  1972
113274  Treasure Island  1973
208885  Treasure Island  1985
182369  Treasure Island  1999

In [22]:
# How many movies were made in the year 1950?

len(titles[titles.year == 1950])

1112

In [23]:
# How many movies were made in the year 1960?

len(titles[titles.year == 1960])

1533

In [24]:
# How many movies were made from 1950 through 1959?

t = titles
len(t[(t.year >= 1950) & (t.year <= 1959)])

12869

In [25]:
len(t[t.year // 10 == 195])

12869

In [26]:
# In what years has a movie titled "Batman" been released?

t = titles
t[t.title == 'Batman']

        title  year
56998  Batman  1989
75867  Batman  1943

In [27]:
# How many roles were there in the movie "Inception"?

c = cast
len(c[c.title == 'Inception'])

78

In [28]:
# How many roles in the movie "Inception" are NOT ranked by an "n" value?

c = cast
c = c[c.title == 'Inception']
c = c[c.n.isnull()]
len(c)

27

In [29]:
# But how many roles in the movie "Inception" did receive an "n" value?

c = cast
c = c[c.title == 'Inception']
c = c[c.n.notnull()]
len(c)

51

In [30]:
# Display the cast of "North by Northwest" in their correct "n"-value order,
# ignoring roles that did not earn a numeric "n" value.

c = cast
c = c[c.title == 'North by Northwest']
c = c[c.n.notnull()]
c = c.sort_values('n')
c

,title,year,name,type,character,n
867494,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3474189,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1450069,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3124771,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
355162,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
3019791,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1687010,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1268932,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2435182,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1802517,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
662839,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2284548,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
462692,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1501122,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
205453,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1377888,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

In [31]:
# Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

c = cast
c = c[c.title == 'Sleuth']
c = c[c.year == 1972]
c = c.sort_values('n')
c

,title,year,name,type,character,n
1697110,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
325302,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
372290,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1458303,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2705900,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1441628,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

In [32]:
# Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

c = cast
c = c[c.title == 'Sleuth']
c = c[c.year == 2007]
c = c.sort_values('n')
c

          title  year                 name     type          character    n
325303   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1287140  Sleuth  2007             Jude Law    actor               Milo  2.0
1797079  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
258968   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
372291   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2705899  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3331103  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

In [33]:
# How many roles were credited in the silent 1921 version of Hamlet?

c = cast
c = c[(c.title == 'Hamlet') & (c.year == 1921)]
len(c)

9

In [34]:
# How many roles were credited in Branaghâ€™s 1996 Hamlet?

c = cast
c = c[(c.title == 'Hamlet') & (c.year == 1996)]
len(c)

54

In [35]:
# How many "Hamlet" roles have been listed in all film credits through history?

c = cast
c = c[c.character == 'Hamlet']
len(c)

95

In [36]:
# How many people have played an "Ophelia"?

c = cast
c = c[c.character == 'Ophelia']
len(c)

# That was my original answer.
# But 9peppe on GitHub points out I am wrong! Instead:

len(cast[cast.character == "Ophelia"].name.unique())

# Can you work out why the two answers are different?

111

In [37]:
# How many people have played a role called "The Dude"?

c = cast
c = c[c.character == 'The Dude']
len(c)

18

In [38]:
# How many people have played a role called "The Stranger"?

c = cast
c = c[c.character == 'The Stranger']
len(c)

213

In [39]:
# How many roles has Sidney Poitier played throughout his career?

c = cast
c = c[c.name == 'Sidney Poitier']
len(c)

43

In [40]:
# How many roles has Judi Dench played?

c = cast
c = c[c.name == 'Judi Dench']
len(c)

54

In [41]:
# List the supporting roles (having n=2) played by Cary Grant in the 1940s,
# in order by year.

c = cast
c = c[c.name == 'Cary Grant']
c = c[c.year // 10 == 194]
c = c[c.n == 2]
c = c.sort_values('year')
c

                   title  year        name   type    character    n
867491  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
867501    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

In [42]:
# List the leading roles that Cary Grant played in the 1940s in order by year.

c = cast
c = c[c.name == 'Cary Grant']
c = c[c.year // 10 == 194]
c = c[c.n == 1 ]
c = c.sort_values('year')
c

,title,year,name,type,character,n
867516,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
867474,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
867518,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
867506,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
867520,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
867497,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
867465,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
867489,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
867490,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
867498,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
867457,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
867493,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
867492,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
867495,Notorious,1946,Cary Grant,actor,Devlin,1.0
867512,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
867513,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
867488,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
867469,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
867478,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

In [43]:
# How many roles were available for actors in the 1950s?

c = cast
c = c[c.year // 10 == 195]
c = c[c.type == 'actor']
len(c)

157234

In [44]:
# How many roles were avilable for actresses in the 1950s?

c = cast
c = c[c.year // 10 == 195]
c = c[c.type == 'actress']
len(c)

57174

In [45]:
# How many leading roles (n=1) were available
# from the beginning of film history through 1980?

c = cast
c = c[c.year <= 1980]
c = c[c.n == 1]
len(c)

64780

In [46]:
# How many non-leading roles were available through
# from the beginning of film history through 1980?

c = cast
c = c[c.year <= 1980]
c = c[c.n != 1]
len(c)

1110597

In [47]:
# How many roles through 1980 were minor enough
# that they did not warrant a numeric "n" rank?

c = cast
c = c[c.year <= 1980]
c = c[c.n.isnull()]
len(c)

445386